modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 20658
externalPort = 3001

[userenv]

[userenv.shared]
SHELBY_API_URL = "https://api.shelbynet.shelby.xyz/shelby"
SHELBY_API_KEY = "AG-MR5SFEFY8BSVMEMVG9YETVQBZJJ2QYEPF"
SHELBY_ACCOUNT_ADDRESS = "0xa57871e9081ed8f5a92c445c3941d16e3ad05a1f6549b3a6bfba32ec390f28fe"
